@if(isLoading){
    <div id="loading-area"></div>
}

<!-- <div class="section-full content-inner-2 bg-white hair-services"> -->
<div class="content-inner-2 bg-white hair-services">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">{{ title }}</h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>
        </div>


        <div class="shop-account w-100 p-0">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="max-w500 m-auto m-b30">
                        <div class="p-a30 border-1 seth">
                            <div class="tab-content nav">

                                <form
                                    [formGroup]="addEmployeeForm"
                                    (ngSubmit)="onSubmit()"
                                    class="w-100"
                                >
                                    <div class="form-group">
                                        <label class="font-weight-700"
                                            >Nom *</label
                                        >
                                        <input
                                            id="nom"
                                            class="form-control"
                                            placeholder="Nom de l'employee"
                                            type="text"
                                            formControlName="nomEmploye"
                                        />
                                        @if(formControl['nomEmploye'].touched || submitted){
                                            @if(formControl['nomEmploye'].errors?.['required']){
                                                <span class="text-danger">Nom requis.</span>
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-700"
                                            >Prénom *</label
                                        >
                                        <input
                                            id="prenom"
                                            class="form-control"
                                            placeholder="Nom de l'employee"
                                            type="text"
                                            formControlName="prenomEmploye"
                                        />
                                        @if(formControl['prenomEmploye'].touched || submitted){
                                            @if(formControl['prenomEmploye'].errors?.['required']){
                                                <span class="text-danger">Prénom requis.</span>
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-700"
                                            >E-Mail *</label
                                        >
                                        <input
                                            id="mail"
                                            required=""
                                            class="form-control"
                                            placeholder="Votre Email"
                                            type="email"
                                            formControlName="email"
                                        />
                                        @if(formControl['email'].touched || submitted){
                                            @if(formControl['email'].errors?.['required']){
                                                <span class="text-danger">E-mail requis.</span>
                                            }
                                            @if(formControl['email'].errors?.['email']){
                                                <span class="text-danger">Pas un format d'e-mail valide.</span>
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-700"
                                            >Mot de Passe *</label
                                        >
                                        <input
                                            id="mdp"
                                            required=""
                                            class="form-control"
                                            placeholder="Votre Mot de Passe"
                                            type="password"
                                            formControlName="password"
                                        />
                                        @if(formControl['password'].touched || submitted){
                                            @if(formControl['password'].errors?.['required']){
                                                <span class="text-danger">Mot de passe requis.</span>
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-700"
                                            >Confirmez votre Mot de Passe</label
                                        >
                                        <input
                                            formControlName="confirmPassword"
                                            class="form-control"
                                            placeholder="Mot de Passe"
                                            type="password"
                                        />
                                        @if(formControl['confirmPassword'].touched || submitted){
                                            @if(addEmployeeForm.hasError('PasswordNoMatch')){
                                                <span class="text-danger">Mot de passe ne correspond pas.</span>
                                            }
                                        }
                                    </div>
                                    <div class="text-left">
                                        <button class="btn btn-danger btn-pink" [disabled]="loading">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading && submitted"></span>
                                            Ajouter
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </div>
    </div>
</div>
