<div class="row">
    <div
        class="d-flex justify-content-around flex-wrap py-5 text-md-left text-center position-relative gap-2 gap-md-0"
        style="background: rgb(249, 232,249)"
    >
        <div class="col-md-6">
            <span class="px-5  d-flex align-items-center justify-content-center justify-content-md-start h-100 w-100 flex-wrap">&copy; Copyright 2024</span>
        </div>
        <div class="col-md-6">
            <span class="px-5  d-flex align-items-center justify-content-center justify-content-md-end h-100 w-100 gap-2 flex-wrap" style="display: inline-block">
                <a href="#" class="reverse-pink-link">RANAIVOSEHENO Faliana Nirindra</a> / <a href="#" class="reverse-pink-link">ROBISOA Jonathan Jacob</a>
            </span>
        </div>
    </div>
</div>

<button class="scroltop"><i class="fa fa-chevron-up"></i></button>
