<footer class="site-footer text-uppercase footer-white">
  <!-- Footer Bottom  -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-md-left">
          <span
            >Copyright © 2024
            <a href="#" class="dzlink" target="_blank"></a
          ></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-md-right">
          <div class="widget-link">
            <ul>
              <li><a href="#"> RANAIVOSEHENO Faliana Nirindra</a></li>
              <li><a href="#"> ROBISOA Jonathan Jacob</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
