@if(isLoading){
    <div id="loading-area"></div>
}

<div class="section-full content-inner-2 bg-white hair-services soft-background" style="min-height:100vh">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">Horaire de travail</h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 m-b30 m-auto">
                <div class="p-a30">
                    <div class="tab-content">
                        <form [formGroup]="formHoraireTravail" (ngSubmit)="submitHoraireDeTravail()">
                            <div class="row" formGroupName="heureTravail">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-700"
                                        >Date de début de service</label
                                    >
                                    <input
                                        name="dzName"
                                        class="form-control"
                                        type="time"
                                        formControlName="debut"
                                    />
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="font-weight-700"
                                        >Date fin de service</label
                                    >
                                    <input
                                        name="dzName"
                                        class="form-control"
                                        type="time"
                                        formControlName="fin"
                                    />
                                </div>
                            </div>

                            <label class="font-weight-700">Jour à travailler</label>

                            <div formGroupName="jourSemaine">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Lun</th>
                                            <th>Mar</th>
                                            <th>Mer</th>
                                            <th>Jeu</th>
                                            <th>Ven</th>
                                            <th>Sam</th>
                                            <th>Dim</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" formControlName="1">
                                            </td>
                                            <td>
                                                <input type="checkbox" formControlName="2">
                                            </td>
                                            <td>
                                                <input type="checkbox" formControlName="3">
                                            </td>
                                            <td>
                                                <input type="checkbox" formControlName="4">
                                            </td>
                                            <td>
                                                <input type="checkbox" formControlName="5">
                                            </td>
                                            <td>
                                                <input type="checkbox" formControlName="6">
                                            </td>
                                            <td>
                                                <input type="checkbox" formControlName="0">
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="text-left">
                                    <button
                                        class="site-button button-md radius-no outline outline-2"
                                    >
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
