@if(isLoading){
<div id="loading-area"></div>
}

<div class="section-full content-inner-2 bg-white hair-services">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">Mes historiques de rendez-vous</h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>
        </div>

        <div class="row">
            @if(userRDV){
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date du rendez-vous</th>
                            <th scope="col">Services demandés</th>
                            <th scope="col">Employé</th>
                            <th scope="col">Date</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(rdv of userRDV; track $index){
                            @if(rdv.listeTaches.length > 0){
                                <tr>
                                    <th [attr.rowspan]="rdv.listeTaches.length">{{rdv.dateDebutRdv | date : "dd-MM-YYYY hh:mm"}} - {{rdv.dateFinRdv | date : "dd-MM-YYYY hh:mm"}}</th>
                                    <td>{{rdv.listeTaches[0].service.nomService}}</td>
                                    <td>{{rdv.listeTaches[0].employe.nomEmploye+' '+rdv.listeTaches[0].employe.prenomEmploye}}</td>
                                    <td>{{rdv.listeTaches[0].dateDebut | date : "dd-MM-YYYY hh:mm" +' - '+(rdv.listeTaches[0].dateFin | date : "dd-MM-YYYY hh:mm")}}</td>
                                    <td>{{rdv.listeTaches[0].statut.nomStatut}}</td>
                                </tr>
                                @for(tache of rdv.listeTaches; track $index){
                                    @if($index>0){
                                        <tr>
                                            <td>{{tache.service.nomService}}</td>
                                            <td>{{tache.employe.nomEmploye+' '+tache.employe.prenomEmploye}}</td>
                                            <td>{{tache.dateDebut | date : "dd-MM-YYYY hh:mm" +' - '+(tache.dateFin | date : "dd-MM-YYYY hh:mm")}}</td>
                                            <td>{{tache.statut.nomStatut}}</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>
</div>
