<!-- Content -->
<div class="page-content">
<!-- inner page banner -->
    <div class="dlab-bnr-inr dlab-bnr-inr overlay-primary bg-pt" style="background-image:url(assets/images/banner/bnr1.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Erreur 404</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Error Page -->
<div class="section-full content-inner-3 error-page" style="background-image:url(assets/images/background/bg6.jpg); background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 m-b30 align-self-center text-center">
        <h2 class="dz_error text-secondry">404</h2>
        <h3>OOPS!</h3>
        <h4>Page Not Found</h4>
        <a routerLink='/' class="site-button">Retour a l'accueil</a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="../collage.png" alt=""/>
      </div>
    </div>
  </div>
</div>
<!-- Error Page END -->
</div>
<!-- Content END-->
<button class="scroltop fa fa-chevron-up" ></button>
