<div
    class="section-full content-inner-2 bg-white hair-services soft-background"
    style="min-height: 100vh"
>
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">Tableau de bord</h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 container">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="content">
                            <h5 class="card-title text-center mb-4">
                                Temps moyen de travail (h)
                            </h5>

                            @if(listeEmployeAsItem.length > 0 &&
                            tempsMoyen.length > 0) {
                            <app-dropdown
                                [items]="listeEmployeAsItem"
                                [showSearch]="true"
                                [showStatus]="true"
                                [showError]="false"
                                (itemChange)="onItemChange($event)"
                            >
                            </app-dropdown>
                            }

                            <app-bar-chart
                                [divName]="'listeEmpDiv'"
                                [categoryName]="'employe'"
                                [data]="tempsMoyen"
                            ></app-bar-chart>
                        </div>
                    </div>
                </div>

                @if(isLoadingTempsMoyen){
                <div class="overlay"></div>
                }
            </div>

            <div class="col-md-8 container">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="content">
                            <h5 class="card-title text-center mb-4">
                                Nombre de réservations
                            </h5>

                            <app-dropdown
                                [items]="choix"
                                [showSearch]="false"
                                [showStatus]="true"
                                [showError]="false"
                                (itemChange)="
                                    OnChoiceItemNbReservationChange($event)
                                "
                            >
                            </app-dropdown>
                            <app-bar-chart
                                [divName]="'nbReservation'"
                                [categoryName]="'label'"
                                [data]="nbReservation"
                            ></app-bar-chart>
                        </div>
                    </div>
                </div>

                @if(isLoadingNbReservation){
                <div class="overlay"></div>
                }
            </div>
        </div>

        <div class="row py-5">
            <div class="col-md-8 container">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="content">
                            <h5 class="card-title text-center mb-4">
                                Chiffre d'affaire
                            </h5>

                            <app-dropdown
                                [items]="choix"
                                [showSearch]="false"
                                [showStatus]="true"
                                [showError]="false"
                                (itemChange)="OnChoiceItemRevenueChange($event)"
                            >
                            </app-dropdown>

                            <app-bar-chart
                                [divName]="'revenue'"
                                [categoryName]="'label'"
                                [data]="revenue"
                            ></app-bar-chart>
                        </div>
                    </div>
                </div>
                @if(isLoadingRevenue){
                <div class="overlay"></div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 container">
            <div class="card">
                <div class="card-body p-5">
                    <div class="content">
                        <h5 class="card-title text-center mb-4">
                            Simulation Bénéfice
                        </h5>

                        <form
                            [formGroup]="beneficeForm"
                            (ngSubmit)="onSubmitBeneficeForm()"
                        >
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <app-dropdown
                                        [items]="monthsArray"
                                        [showSearch]="false"
                                        [showStatus]="true"
                                        [showError]="false"
                                        (itemChange)="
                                            OnChoiceMonthBenefice($event)
                                        "
                                    >
                                    </app-dropdown>
                                </div>
                                <input
                                    type="number"
                                    step="0.1"
                                    class="form-control"
                                    placeholder="Salaire"
                                    title="Salaire"
                                    formControlName="salary"
                                />
                                <input
                                    type="number"
                                    step="0.1"
                                    class="form-control"
                                    placeholder="Loyer"
                                    title="Loyer"
                                    formControlName="rent"
                                />
                                <input
                                    type="number"
                                    step="0.1"
                                    class="form-control"
                                    placeholder="Pieces"
                                    title="Pieces"
                                    formControlName="pieces"
                                />
                                <input
                                    type="number"
                                    step="0.1"
                                    class="form-control"
                                    placeholder="Autres"
                                    title="Autres"
                                    formControlName="other"
                                />

                                <div class="ms-2 d-flex gap-2">
                                    <div class="input-group-prepend">
                                        <button
                                            class="btn btn-primary"
                                            type="submit"
                                        >
                                            Valider
                                        </button>
                                    </div>
                                    <div class="input-group-prepend">
                                        <button
                                            class="btn btn-primary"
                                            type="button"
                                            (click)="resetBenefice()"
                                        >
                                            Réinitialiser
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <app-bar-chart
                            [divName]="'benefice'"
                            [categoryName]="'label'"
                            [data]="benefice"
                        ></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
