.DZ-bt-support-now,
.DZ-bt-buy-now {
    display: none !important;
}

.site-header.header.mo-left {
    height: auto !important;
}

.btn-pink {
    background-color: #ed3d8b;
    font-weight: bold;
}
.btn-pink:hover {
    background-color: rgb(191, 49, 112);
}
.header-menu-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    text-transform: none;
    border-bottom: 1px solid #ed3d8b;
    word-wrap: break-word;
}
.text-pink {
    color: #ed3d8b;
}

.reverse-pink-link {
    color: #6f6f6f;
}

.reverse-pink-link:hover {
    color: #ed3d8b;
}

.mfp-title {
    display: none !important;
}

.btn-pink[disabled] {
    background: #ed3d8b;
    opacity: 0.7;
}
.modal-header {
    background: #ed3d8b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.modal-content {
    border-radius: 20px;
}

.circledImageContainer {
    width: 100px; /* Changer la largeur et la hauteur selon vos besoins */
    height: 100px;
    border-radius: 50%; /* Pour créer un cercle */
    overflow: hidden; /* Masquer tout contenu qui déborde de la zone définie */
    display: flex; /* Utilisation de Flexbox pour centrer l'image */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    background-color: #f0f0f0; /* Couleur de fond de la div */
}
.circledImageContainer img {
    width: 100%; /* L'image occupe 100% de la largeur de la div */
    height: 100%; /* L'image occupe 100% de la hauteur de la div */
    object-fit: cover; /* L'image est redimensionnée pour remplir entièrement le conteneur tout en préservant son ratio d'aspect */
    object-position: center; /* L'image est centrée à l'intérieur du conteneur */
    display: block; /* Assurer un affichage en bloc */
    border-radius: 50%; /* Assurer que l'image reste un cercle même si elle est rectangulaire */
}

.sub-menu li a.active{
    color: #ed3d8b !important;
    background: rgb(242, 242, 242) !important;
}

.page-wraper{
    min-height: 85vh;
    /* background: #F8F8F8; */
    background: white;
}

.btn-light-pink {
    background-color: white;
    border-radius: 0;
    border: solid #ed3d8b;
    border-width: 2px;
    font-weight: 700;
    color: #ed3d8b;
    text-transform: uppercase;
    font-size: 14px;
}
.btn-light-pink:hover {
    background-color: #ed3d8b;
    border-color: #ed3d8b;
    color: white;
}
.btn-light-pink[disabled] {
    background: #ed3d8b;
    border-color: #ed3d8b;
    opacity: 0.7;
}

.soft-background{
    background-image:url(../images/background/bg1.png), url(../images/background/bg2.png); background-position: bottom, top; background-size: 100%; background-repeat: no-repeat
}

.soft-background2{
    background-image:url(../images/background/newbg2.webp), url(../images/background/newbg1.webp); background-position: bottom, top; background-size: 100%; background-repeat: no-repeat
}

.icon-bx-wraper{
    background-color: white;
}

.seth{
    background: white;
}

#navbarNavDropdown ul.nav.navbar-nav li:has(button.btn.btn-danger.btn-light-pink){
    min-height: 82.5px;
}

.modalChoixService{
    margin-top: 100px !important;
}

.modalPaiement{
    max-height: calc(70vh - 82.5px);
    overflow: auto;
}