@if(isLoading){
<div id="loading-area"></div>
} @if(service){
<div class="section-full content-inner-2 bg-white hair-services pb-2">
    <div class="container">
        <div class="text-left pb-4">
            <button class="btn btn-danger btn-light-pink" routerLink="/listeService"><i class="fa fa-arrow-left"></i></button>
        </div>
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">
                <div
                    class="d-flex align-items-center justify-content-center flex-column"
                >
                    @if(service.icone){
                    <div class="icon-lg radius m-b20">
                        <a role="button" class="icon-cell text-pink"
                            ><i class="{{ service.icone }}"></i>
                        </a>
                    </div>
                    } @else {
                    <div
                        class="icon-lg radius d-flex align-items-center justify-content-center w-100"
                        style="min-height: 82px"
                    >
                        <a
                            routerLink="/service/{{ service._id }}"
                            class="icon-cell"
                        >
                            <img
                                src="{{ apiUrl + '/Service/' + service.image }}"
                                alt=""
                                width="61.5px"
                        /></a>
                    </div>
                    }

                    <div>{{ service.nomService }}</div>
                </div>
            </h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>
            <p>
                {{ service.description }}
            </p>
        </div>
    </div>
</div>

<div
    class="section-full content-inner bg-blue-light"
    style="
        background-image: url(assets/images/background/bg5_2.png);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    "
>
    <div class="container">
        <div class="pb-5">
            <div class="section-head text-black text-center m-b20">
                <h2 class="text-primary m-b10">Tarifs</h2>
                <div class="dlab-separator-outer m-b0">
                    <div class="dlab-separator text-primary style-icon">
                        <i class="flaticon-spa text-primary"></i>
                    </div>
                </div>
            </div>
            <div class="price-tbl d-flex">
                <div class="flex-grow-1">
                    <h4 class="text-primary">Durée</h4>
                    <p>environ {{ service.duree }} minutes</p>
                </div>
                <div class="price-val align-self-center">
                    @if(service.prixAvantRemise != service.prix){
                        <h5 class="text-secondry text-decoration-line-through">
                            $ {{ service.prixAvantRemise.toFixed(2) }}
                        </h5>
                    }
                    <h3 class="text-secondry">
                        $ {{ service.prix.toFixed(2) }}
                    </h3>
                </div>
            </div>
        </div>

        <div class="pb-5">
            <div class="section-head text-black text-center m-b20">
                <h2 class="text-primary m-b10">Galerie</h2>
                <div class="dlab-separator-outer m-b0">
                    <div class="dlab-separator text-primary style-icon">
                        <i class="flaticon-spa text-primary"></i>
                    </div>
                </div>
            </div>

            <div class="section-content">

                @if(service.galerie && service.galerie.length>0){
                    <ul
                    id="masonry2"
                    class="row dlab-gallery-listing gallery-grid-4 m-lr0 mfp-gallery"
                    style="position: relative; height: 910.1px"
                >
                    @for(image of service.galerie; track $index){
                    <!-- <p>{{$index}}</p> -->

                    <li
                        class="image-{{
                            $index + 1
                        }} card-container col-lg-4 col-md-4 col-sm-6"

                        style=""
                    >
                        <div class="dlab-box dlab-gallery-box">
                            <div
                                class="dlab-thum dlab-img-overlay1 dlab-img-effect zoom-slow"
                            >
                                <a href="javascript:void(0);">
                                    <img
                                        src="{{ apiUrl }}/Service/{{ image }}"
                                        alt=""
                                    />
                                </a>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a
                                            href="{{ apiUrl }}/Service/{{
                                                image
                                            }}"
                                            class="mfp-link"
                                            title="DexignZone"
                                        >
                                            <i
                                                class="ti-fullscreen icon-bx-xs"
                                            ></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                        <!-- <p style="z-index: 9999999999;">{{$index}} {{ service.galerie.length - 1 }}</p> -->
                        @if($index == service.galerie.length - 1){
                            {{ initBeautyZone() }}
                        }

                    }
                </ul>
                }
                @else {
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4">
                            <img src="assets/images/gallery_icone.webp" alt="">
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

}
