@if(isLoading){
<div id="loading-area"></div>
}

<!-- <div class="section-full content-inner-2 bg-white hair-services"> -->
<div class="content-inner-2 bg-white hair-services soft-background">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">Liste des services</h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>

            <div class="d-flex align-items-center py-2 justify-content-center">
                <input
                    type="search"
                    class="form-control"
                    name=""
                    id=""
                    placeholder="Rechercher un service..."
                    style="
                        text-align: center;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        max-width: 500px;
                    "
                    (input)="searchInsideService()"
                    [(ngModel)]="searchText"
                />
                <i class="fa fa-search text-body-tertiary"></i>
            </div>
        </div>

        <div class="row d-flex">
            @for(service of listeService; track $index){
            <div class="col-lg-4 col-md-6 col-sm-6 p-lr0">
                <div class="icon-bx-wraper center p-a30 h-100">
                    @if(service.icone){
                    <div class="icon-lg radius m-b20">
                        <a
                            [routerLink]="[
                                '/manager/service/edit',
                                service._id
                            ]"
                            class="icon-cell"
                            ><i class="{{ service.icone }}"></i>
                        </a>
                    </div>
                    } @else{

                    <div
                        class="icon-lg radius m-b20 d-flex align-items-center justify-content-center w-100"
                        style="min-height: 90.5px"
                    >
                        <a
                            [routerLink]="[
                                '/manager/service/edit',
                                service._id
                            ]"
                            class="icon-cell"
                        >
                            <img
                                src="{{ apiUrl + '/Service/' + service.image }}"
                                alt=""
                                width="84px"
                        /></a>
                    </div>
                    }

                    <div class="icon-content">
                        <h5 class="dez-tilte">
                            <a
                                [routerLink]="[
                                    '/manager/service/edit',
                                    service._id
                                ]"
                                >{{ service.nomService }}</a
                            >
                        </h5>

                        <div
                            class="text-left"
                            style="display: inline-block; margin: auto"
                        >
                            <p class="m-0">
                                <span class="text-pink"><b>Durée:</b></span>
                                {{ service.duree }} min
                            </p>
                            <p class="mb-2">
                                <span class="text-pink"><b>Prix:</b></span>
                                {{ service.prix }} $
                            </p>
                        </div>

                        <p>{{ service.description }}</p>

                        
                        <p class="text-right d-flex gap-2 justify-content-end">
                            <button
                                class="btn btn-danger btn-light-pink"
                                [routerLink]="[
                                    '/manager/service/edit',
                                    service._id
                                ]"
                            >
                                <i class="fa fa-edit"></i>
                            </button>
                            <button
                                class="btn btn-danger btn-pink"
                                style="border-radius: 0"
                                data-bs-toggle="modal"
                                [attr.data-bs-target]="
                                    '#exampleModal' + service._id
                                "
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </p>
                        
                    </div>
                </div>
            </div>
            } @for(service of listeService; track $index){
            <!-- Modal -->
            <div
                class="modal fade"
                id="exampleModal{{ service._id }}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                Suppression de service
                            </h1>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer le service:
                            <b class="text-pink">{{ service.nomService }}</b> ?
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Fermer
                            </button>
                            <button
                                type="button"
                                class="btn btn-danger btn-pink"
                                (click)="deleteService(service._id)"
                            >
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            }

            <!-- <div class="col-lg-4 col-md-6 col-sm-6 p-lr0" *ngFor="let service of services">
            <div class="icon-bx-wraper center p-a30">

              <div class="icon-lg radius m-b20">
                <a href="services-details.html" class="icon-cell"
                  ><i class="{{ service.icon }}"></i
                ></a>
              </div>

              <div class="icon-content">
                <h5 class="dez-tilte">
                  <a href="services-details.html">{{ service.name }}</a>
                </h5>
                <p>{{ service.description }}</p>
              </div>
            </div>
          </div> -->

            <div *ngIf="listeService.length === 0">
                <div style="text-align: center">Pas de resultat.</div>
            </div>
        </div>
    </div>
</div>
