@if(isLoading){
    <div id="loading-area"></div>
}

<div class="section-full content-inner-2 bg-white hair-services soft-background" style="min-height: calc(100vh - 82.5px)">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="text-primary m-b10">Prendre un rendez-vous</h2>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon">
                    <i class="flaticon-spa text-primary"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 m-b30 m-auto">
                <div class="p-a30">
                    <div class="tab-content">
                        <form id="login" class="tab-pane active" [formGroup] = "rdvForm">
                            <div class="form-group">
                                <label class="font-weight-700"
                                    >Date du rendez-vous</label
                                >
                                <input
                                    name="dzName"
                                    class="form-control"
                                    placeholder=""
                                    type="datetime-local"
                                    formControlName="dateRdv"
                                />
                            </div>

                            @for(tache of listeTache; track $index){
                                <div class="card price-tbl" style="width: 100%">
                                    <div class="card-body">
                                        <div class="row">
                                            <div
                                                class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start text-center text-md-left"
                                            >
                                                <div
                                                    class="d-flex justify-content-center justify-content-md-start align-items-center"
                                                    style="
                                                        min-height: 150px;
                                                        min-width: 150px;
                                                    "
                                                >
                                                    <div
                                                        class="circledImageContainer"
                                                    >
                                                        <img
                                                            src="{{ apiUrl }}/Employe/{{ tache.employe.image }}"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>

                                                <div class="">
                                                    <p class="mb-2">
                                                        <b class="text-pink"
                                                            >Service:</b
                                                        >
                                                        {{ tache.service.nomService }}
                                                    </p>
                                                    <p class="mb-2">
                                                        <b class="text-pink"
                                                            >Début:</b
                                                        >
                                                        {{ formatDateTache(tache.dateDebut) }}
                                                    </p>
                                                    <p class="mb-2">
                                                        <b class="text-pink"
                                                            >Fin:</b
                                                        >
                                                        {{ formatDateTache(tache.dateFin) }}
                                                    </p>
                                                    <p class="mb-2">
                                                        <b class="text-pink"
                                                            >Employé en charge:</b
                                                        >
                                                        {{ tache.employe.nomEmploye }} {{ tache.employe.prenomEmploye }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="text-left pb-4">
                                <button
                                    type="button"
                                    class="btn btn-pink text-white"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    (click) = "changerDateDebutTache()"
                                >
                                    <i class="fa fa-plus"></i>
                                    <span class="ps-2"></span> Ajouter un
                                    service
                                </button>

                                <!-- Modal -->
                                <div
                                    class="modal fade"
                                    id="exampleModal"
                                    tabindex="-1"
                                    aria-labelledby="exampleModalLabel"
                                    aria-hidden="true"
                                >
                                    <div
                                        class="modal-dialog modal-dialog-centered"
                                    >
                                        <div class="modal-content">
                                            <div
                                                class="modal-header d-flex align-items-center"
                                            >
                                                <h1
                                                    class="modal-title fs-5"
                                                    id="exampleModalLabel"
                                                >
                                                    Ajouter un service
                                                </h1>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                                ></button>
                                            </div>

                                            <form [formGroup]="tacheForm" (ngSubmit)="tacheFormSubmit()">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label
                                                            class="font-weight-700"
                                                            >Services</label
                                                        >
                                                        <!-- @for(service of listeService; track $index){
                                                            {{ $index }}
                                                        } -->

                                                        @if(listeService.length>0){
                                                            <app-dropdown
                                                                [items]="listeServiceAsItem"
                                                                [showSearch]="true"
                                                                [showStatus]="true"
                                                                [showError]="false"
                                                                (itemChange)="onItemChange($event)">
                                                            </app-dropdown>

                                                            <!-- <select name="" id="" class="form-control selectService" style="width: 100% !important;" formControlName="service" (change)="changerListeEmployeDispo()">

                                                                @for(service of listeService; track $index){
                                                                    <option [value]="service._id">{{ service.nomService }}</option>
                                                                }

                                                                </select>
                                                                @if(tacheForm.controls['service'].touched || isSubmitted){
                                                                    @if(tacheForm.controls['service'].errors?.['required']){
                                                                        <span class="text-danger">Ce champ est requis</span>
                                                                    }
                                                                } -->
                                                        }

                                                    </div>

                                                    <div class="form-group">
                                                        <label
                                                            class="font-weight-700"
                                                            >Employe</label
                                                        >

                                                        <app-dropdown
                                                            [items]="listeEmployeAsItem"
                                                            [showSearch]="true"
                                                            [showStatus]="true"
                                                            [showError]="false"
                                                            (itemChange)="onItemEmpChange($event)">
                                                        </app-dropdown>

                                                        <!-- @if(listeEmployeDispo.length>0){
                                                            <select name="" id="" class="form-control selectEmploye" style="width: 100% !important;" formControlName="employe">

                                                                @for(employe of listeEmployeDispo; track $index){
                                                                    <option [value]="employe._id">{{ employe.nomEmploye }} {{ employe.prenomEmploye }}</option>
                                                                }

                                                                </select>
                                                                @if(tacheForm.controls['employe'].touched || isSubmitted){
                                                                    @if(tacheForm.controls['employe'].errors?.['required']){
                                                                        <span class="text-danger">Ce champ est requis</span>
                                                                    }
                                                                }
                                                        } -->

                                                    </div>

                                                    <div class="form-group">
                                                        <label
                                                            class="font-weight-700"
                                                            >Date</label
                                                        >
                                                        <input
                                                            type="datetime-local"
                                                            class="form-control"
                                                            id = "dateDebutTacheInput"
                                                            formControlName="dateDebut"
                                                            (input)="changerListeEmployeDispo()"
                                                        />
                                                        @if(tacheForm.controls['dateDebut'].touched || isSubmitted){
                                                            @if(tacheForm.controls['dateDebut'].errors?.['required']){
                                                                <span class="text-danger">Ce champ est requis</span>
                                                            }
                                                        }
                                                    </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <button
                                                        type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                    >
                                                        Close
                                                    </button>
                                                    <button
                                                        type="submit"
                                                        class="btn btn-danger btn-pink"
                                                    >
                                                        Save changes
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-left">
                                <button
                                    class="site-button button-lg radius-no outline outline-2"
                                >
                                    Valider le rendez-vous
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
