<div class="page-content bg-white">
    <!-- contact area -->
    <div class="section-full content-inner shop-account soft-background">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="font-weight-700 m-t0 m-b20">Créer un compte</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-b30">
                    <div class="p-a30 border-1 max-w500 m-auto bg-white">
                        <div class="tab-content">
                            <form
                                id="login"
                                class="tab-pane active"
                                [formGroup]="registerForm"
                                (ngSubmit)="onSubmit()"
                            >
                                <h4 class="font-weight-700">
                                    Informations Personnelles
                                </h4>
                                <div class="form-group">
                                    <label class="font-weight-700">Nom</label>
                                    <input
                                        formControlName="firstName"
                                        class="form-control"
                                        placeholder="Nom"
                                        type="text"
                                    />
                                    @if(formControl['firstName'].touched || submitted){
                                        @if(formControl['firstName'].errors?.['required']){
                                            <span class="text-danger">Nom requis.</span>
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700"
                                        >Prénom</label
                                    >
                                    <input
                                        formControlName="lastName"
                                        class="form-control"
                                        placeholder="Prénom"
                                        type="text"
                                    />
                                    @if(formControl['lastName'].touched || submitted){
                                        @if(formControl['lastName'].errors?.['required']){
                                            <span class="text-danger">Prénom requis.</span>
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700"
                                        >E-Mail</label
                                    >
                                    <input
                                        formControlName="email"
                                        class="form-control"
                                        placeholder="E-Mail"
                                        type="email"
                                    />
                                    @if(formControl['email'].touched || submitted){
                                        @if(formControl['email'].errors?.['required']){
                                            <span class="text-danger">E-mail requis.</span>
                                        }
                                        @if(formControl['email'].errors?.['email']){
                                            <span class="text-danger">Pas un format d'e-mail valide.</span>
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700 m-0"
                                        >Mot De Passe</label
                                    >
                                    <p class="m-0">Votre mot de passe doit faire au moins 8 caractères</p>
                                    <p class="">Par défaut: 0123456789</p>
                                    <input
                                        formControlName="password"
                                        class="form-control"
                                        placeholder="Mot De Passe"
                                        type="password"
                                    />
                                    @if(formControl['password'].touched || submitted){
                                        @if(formControl['password'].errors?.['required']){
                                            <span class="text-danger">Mot de passe requis.</span>
                                        }
                                        @if(formControl['password'].errors?.['minlength']){
                                            <span class="text-danger">Le mot de passe doit comporter au moins 8 caractères.</span>
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700"
                                        >Confirmez votre Mot de Passe</label
                                    >
                                    <input
                                        formControlName="confirmPassword"
                                        class="form-control"
                                        placeholder="Mot de Passe"
                                        type="password"
                                    />
                                    @if(formControl['confirmPassword'].touched || submitted){
                                        @if(registerForm.hasError('PasswordNoMatch')){
                                            <span class="text-danger">Mot de passe ne correspond pas.</span>
                                        }
                                    }
                                </div>
                                <div class="pb-3">
                                    <a
                                        routerLink="/login"
                                        class="m-l5"
                                        >Vous avez déjà un compte ? Connectez-vous</a
                                    >
                                </div>
                                <div class="text-left">
                                    <button
                                        type="submit"
                                        class="site-button button-lg radius-no outline outline-2"
                                        [disabled]="loading"
                                    >
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                                        Créer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </div>
    <!-- contact area  END -->
</div>
