<!-- CONTENT -->
<section
style="
  background-repeat: no-repeat;
  background-image: url('assets/images/main-slider/00023.webp');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
"
>
<div class="row" style="min-height: calc(100vh - 82.5px);">
  <div class="d-flex align-items-center">
    <div class="col-md-5 offset-1">
      <h1 class="text-pink">
        Expérimentez le meilleur avec nos services de beauté
      </h1>
      <p
        style="
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
          color: rgb(50, 0, 22);
          white-space: normal;
          font-family: Nunito;
        "
      >
        Découvrez l'élégance redéfinie au cœur de notre salon de beauté.
        Laissez-vous transporter dans un univers où l'harmonie entre
        bien-être et esthétique prend vie. Chez nous, chaque visite est
        une expérience sensorielle unique, où nos experts en beauté
        révèlent votre éclat naturel et vous offrent un moment de
        détente inoubliable.
      </p>
    </div>
  </div>
</div>
</section>
<!-- CONTENT END -->