<div class="row">
    <div class="w-100">
        <label class="form-label w-100">
            <input
                class="form-control"
                type="file"
                accept="image/*"
                [multiple]="multiple"
                (change)="selectFiles($event)"
                [formGroup]="formData.get(formField)"
                style="height: auto; width: 100% !important;"
            />
        </label>
    </div>
</div>

<div>
    <img *ngFor="let preview of previews" [src]="preview" class="preview" />
</div>
